@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

:root {
    --color-banner: #fbdfdb;
    --color-background-footer: #eeeeee;
    --color-text-footer: #999999;
}

* {
    margin: 0;
    padding: 0;
    border: 0
}

body {
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header div a {
    color: black;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}
header div a:hover {
    color: blue;
    transition: color 200ms;
}
.header_logo {
    padding: 0 0 0 33%;
    width: 90.6px;
    height: 26.9px;
}

.banner {
    background-color: var(--color-banner);
    border-radius: 30px;
    padding: 35px 35px 0px 35px;
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner_text h1 {
    padding: 60px 0 10px 0;
}
.banner_text p {
    max-width: 290px;
    padding: 20px 0;
    line-height: 28px;
}
.banner_img {
    text-align: center;
}

footer {
    background-color: var(--color-background-footer);
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    padding: 15px;
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text-footer);
    text-align: center;
}

/* --- RECIPES --- */
.recipes {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.recipe {
    background-color: var(--color-banner);
    border-radius: 20px;
}
.recipe__image-container img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.recipe__content {
    padding: 12px;
}
#recipe-title,
#recipe-author {
    padding: 5px;
}
#recipe-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
#recipe-author {
    color: var(--color-text-footer);
}

/* --- ABOUT --- */
.description {
    width: 75%;
    margin: 0 auto;
    background-color: var(--color-banner);
    border-radius: 20px;
    padding: 20px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}
.description h1 {    
    font-weight: 700;
    padding: 20px 0;
}
.description h2 {
    font-weight: 700i;
    padding: 20px 0;
}
.description p {
    padding: 10px 0;
}