<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <header>
            <a href="index.html"><img src="/assets/logo.png" class="header_logo" alt="Logo Foodfy"></a>                
            <nav class="topnav">
                <a href="about.html">Sobre</a>
                <a href="recipes.html">Receitas</a>
            </nav>
        </header> 

        <section class="recipes">

            <div class="recipe" id="burger">
                <div class="recipe__image-container">
                    <img src="/assets/burger.png" alt="Burger">
                </div>
                <div class="recipe__content">
                    <p id="recipe-title">Triplo bacon burger</p>
                    <p id="recipe-author">por Jorge Relato</p>
                </div>
            </div>
    
            <div class="recipe" id="pizza">
                <div class="recipe__image-container">
                    <img src="/assets/pizza.png" alt="Pizza 4 est">
                </div>
                <div class="recipe__content">
                    <p id="recipe-title">Pizza 4 estações</p>
                    <p id="recipe-author">por Fabiana Melo</p>
                </div>
            </div>
    
            <div class="recipe" id="espaguete">
                <div class="recipe__image-container">
                    <img src="/assets/espaguete.png" alt="Espaguete">
                </div>
                <div class="recipe__content">
                    <p id="recipe-title">Espaguete ao alho</p>
                    <p id="recipe-author">por Júlio Kinoto</p>
                </div>
            </div>
    
            <div class="recipe" id="lasanha">
                <div class="recipe__image-container">
                    <img src="/assets/lasanha.png" alt="Lasanha">
                </div>
                <div class="recipe__content">
                    <p id="recipe-title">Lasanha mac n' cheese</p>
                    <p id="recipe-author">por Juliano Vieira</p>
                </div>
            </div>
    
            <div class="recipe" id="doce">
                <div class="recipe__image-container">
                    <img src="/assets/doce.png" alt="Pão-do-céu">
                </div>
                <div class="recipe__content">
                    <p id="recipe-title">Docinho pão-do-céu</p>
                    <p id="recipe-author">por Ricardo Golvea</p>
                </div>
            </div>
    
            <div class="recipe" id="asinhas">
                <div class="recipe__image-container">
                    <img src="/assets/asinhas.png" alt="Asinhas">
                </div>
                <div class="recipe__content">
                    <p id="recipe-title">Asinhas de frango ao barbecue</p>
                    <p id="recipe-author">por Vania Steroski</p>
                </div>
            </div>
            
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <span class="material-icons">close</span>
                </a>

                <div class="modal-content">
                    <img src="" alt="teste" class="modal-img">
                    <p class="recipe-title-modal">Asinhas de frango ao barbecue</p>
                    <p class="recipe-author-modal">por Vania Steroski</p>
                </div>
            </div>            
        </div>

        <script src="scripts.js"></script>

    </body>
</html>